<section id="intro">
    <!--Slider Hero-->
    <div class="tp-banner-container">
        <div class="intro-tp-banner-kenBurns">
            <ul>
                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="parallaxtoright" data-slotamount="1" data-masterspeed="1000" data-thumb="" data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/NC_Image1_8.jpg" alt="kenburns1" data-bgposition="right bottom" data-kenburns="on" data-duration="11000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="left top">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="-25"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Nordic Kandie
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40"
                        data-speed="600"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125"
                        data-speed="600"
                        data-start="1100"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-color">Order Now</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="parallaxtoright" data-slotamount="1" data-masterspeed="1000" data-thumb="" data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/NC_Image2_8.jpg" alt="kenburns2" data-bgposition="right bottom" data-kenburns="on" data-duration="11000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="left top">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="-25"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Nordic Kandie Magic
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40"
                        data-speed="600"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125"
                        data-speed="600"
                        data-start="1100"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-color">Order Now</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="parallaxtoright" data-slotamount="1" data-masterspeed="1000" data-thumb="" data-saveperformance="off" data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/NC_Image3_8.jpg" alt="kenburns3" data-bgposition="right bottom" data-kenburns="on" data-duration="11000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="left top">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="-25"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Nordic Kandie Magic
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40"
                        data-speed="600"
                        data-start="1000"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                      
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button"
                        data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125"
                        data-speed="600"
                        data-start="1100"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-color">Order Now</a>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- End Slider Hero-->

</section>
<!-- End Intro Section