<!-- Header -->
<div id="header" class="header">
    <div class="header-inner">
        <!-- Logo -->
        <div class="logo">
            <a href="#">
                <img src="img/t-logo1.png" />
            </a>
        </div>
        <!-- End Logo -->

        <!--Navigation Icon-->
        <div class="nav-menu-icon">
            <a><i class="fa fa-bars"></i></a>
        </div>
        <!--End Navigation Icon-->

        <!-- Navigation Menu -->
        <div class="nav-menu singlepage-nav">
            <ul class="nav-menu-inner">
                <li><a href="#intro">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact-us">Contact</a></li>
                
            </ul>
        </div>
        <!-- End Navigation Menu -->
    </div>
</div>
<!-- End Header -->