<!-- Sidemenu -->
<section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
    <a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
    <hr class="dark" />
    <ul class="mtb-30">
        <li><a href="home.html">Home</a></li>
        <li><a href="faq-1.html">FAQ</a></li>
        <li><a href="about-1.html">About</a></li>
        <li><a href="shop-checkout.html">Shopping Cart</a></li>
        <li><a href="contact-1.html">Contact Us</a></li>
    </ul>
    <hr class="dark" />
    <ul class="social mt-30">
        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
    </ul>
</section>
<!--End Sidemenu -->