<div class="section" id="section1">
    <div class="slide bg-img1" id="slide1" style="background: url('/img/full/NC_image2.jpg')">
        <div class="intro container light-color text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="h2"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slide bg-img1" id="slide2" style="background: url('/img/full/NC_image3.jpg')">
        <div class="intro container dark-color text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="h2"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="slide bg-img1" id="slide3" style="background: url('/img/full/NC_image1.jpg')">
        <div class="intro container light-color text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="h2"></h2>
                </div>
            </div>
        </div>
    </div>
</div>